{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the Cache Using IndexDB Demo</p>
    <h1>Company Data</h1>
    <table border="1" id="dataTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department Name</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be dynamically inserted here -->
        </tbody>
    </table>
{% endblock %}
